* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cambria', 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 24px;
    color: #81adf0;
    margin: 30px auto;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin: 10px auto;
}

p, input {
    font-size: 16px;
    color: #000;
}