.connexion-admin {
    margin: auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.connexion-admin form {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    text-align: left;
}

.connexion-admin label {
    font-weight: bold;
}

.connexion-admin input[type="email"],
.connexion-admin input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.connexion-admin .submit-connexion {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.connexion-admin .submit-connexion:hover {
    background-color: #0056b3;
}

.errorMessage-connexion-admin {
    color: red;
    font-size: 16px;
    margin-top: 10px;
}